@model IEnumerable<TRY.Models.Register>

@{
    ViewData["Title"] = "Index";
}

<h1>Do you want to be our volunteer?</h1>

<p>
    <img src="img/volunteer.jpeg" style="float:right;width:600px;height:500px;margin-right:20px;">
    <br />
    <a asp-action="Create"><h4>Please, Click here,Fill up this form! </h4></a>
</p>

             