@page

@{
   
<section id="bank" style="padding: 85px 0" class="banking-info-page section-padding">
    <div class="container">
        <div class="pay-bank-wrapper">
            <div class="row row-centered">
                <h3 class="payment-heading">Payment With Bank</h3>
                <div class="col-md-4 col-sm-6 col-centered fadeInLeftSlow" style="visibility: visible; animation-name: fadeInLeftSlow;">
                    <div class="serviceBox green" style="background: linear-gradient(#08949e,#29aa92); -webkit-clip-path: polygon(100% 0,100% 80%,50% 100%,0 80%,0 0); clip-path: polygon(100% 0,100% 80%,50% 100%,0 80%,0 0); position: absolute; color: #fff; font-family: source sans pro,sans-serif; padding: 0 15px 50px; margin-top: 15px; border: 1px solid transparent; position: relative; z-index: 1; transform: scale(.9); transition: all .3s linear; ">

                        <div class="service-icon" style="background-color: white; padding-right: 5px; background:linear-gradient(-45deg,#28595f 49%,transparent 50%); ">
                            <i class="" aria-hidden="true"><img src="https://bidyanondo.org/la-assets/img/city_bank.png" style="width: 92px; height:auto; border-radius: 50px;" alt=""></i>
                        </div>
                        <h3 class="title">City Bank</h3>
                        <ul class="account-info">
                            <li>
                                <i class="fa fa-money" aria-hidden="true"></i>
                                <span>A/C Name : </span>Try- Kuet club
                            </li>
                            <li>
                                <i class="fa fa-credit-card" aria-hidden="true"></i>
                                <span>A/C No : </span><span class="highlight">1103004604001</span>
                            </li>
                            <li>
                                <i class="fa fa-codepen" aria-hidden="true"></i>
                                <span>Swift Code : </span> CIBLBDDH
                            </li>
                            <li>
                                <i class="fa fa-codepen" aria-hidden="true"></i>
                                <span>Routing No : </span> 225150135
                            </li>
                            <li>
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <span>Branches : </span>Shibbari, Khulna
                            </li>
                        </ul>
                        <br>
                    </div>
                </div>
                <br />
                <br />
                <div class="col-md-4 col-sm-6 col-centered wow fadeInLeftSlow" style="visibility: visible; animation-name: fadeInLeftSlow;">
                    <div class="serviceBox green" style=" background: linear-gradient(#08949e,#29aa92); -webkit-clip-path: polygon(100% 0,100% 80%,50% 100%,0 80%,0 0); clip-path: polygon(100% 0,100% 80%,50% 100%,0 80%,0 0); position: absolute; color: #fff; font-family: source sans pro,sans-serif; padding: 0 15px 50px; margin-top: 15px; border: 1px solid transparent; position: relative; z-index: 1; transform: scale(.9); transition: all .3s linear; ">
                        <div class="service-icon" style="background-color: white; padding-right: 5px; background:linear-gradient(-45deg,#28595f 49%,transparent 50%); ">
                            <i class="" aria-hidden="true"><img src="https://bidyanondo.org/la-assets/img/brac.png" style="width: 92px; height:auto; border-radius: 50px;" alt=""></i>
                        </div>
                        <h3 class="title">Brac Bank</h3>
                        <ul class="account-info">
                            <li>
                                <i class="fa fa-money" aria-hidden="true"></i>
                                <span>A/C Name : </span>Try- Kuet club
                            </li>
                            <li>
                                <i class="fa fa-credit-card" aria-hidden="true"></i>
                                <span>A/C No : </span><span class="highlight">1545203874746001</span>
                            </li>
                            <li>
                                <i class="fa fa-codepen" aria-hidden="true"></i>
                                <span>Swift Code : </span>BRAKBDDH
                            </li>
                            <li>
                                <i class="fa fa-codepen" aria-hidden="true"></i>
                                <span>Routing No : </span> 060274289
                            </li>
                            <li>
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <span>Branches : </span>Motijheel branch
                            </li>
                        </ul>
                        <br>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-centered wow fadeInLeftSlow" style="visibility: visible; animation-name: fadeInLeftSlow;">
                    <div class="serviceBox green" style=" background: linear-gradient(#08949e,#29aa92); -webkit-clip-path: polygon(100% 0,100% 80%,50% 100%,0 80%,0 0); clip-path: polygon(100% 0,100% 80%,50% 100%,0 80%,0 0); position: absolute; color: #fff; font-family: source sans pro,sans-serif; padding: 0 15px 50px; margin-top: 15px; border: 1px solid transparent; position: relative; z-index: 1; transform: scale(.9); transition: all .3s linear; ">
                        <div class="service-icon" style="background-color: white; padding-right: 5px; background:linear-gradient(-45deg,#28595f 49%,transparent 50%); ">
                            <i class="" aria-hidden="true"><img src="https://bidyanondo.org/la-assets/img/sibl.png" style="width: 92px; height:auto;" alt=""></i>
                        </div>
                        <h3 class="title">Social Islamic Bank Ltd</h3>
                        <ul class="account-info">
                            <li>
                                <i class="fa fa-money" aria-hidden="true"></i>
                                <span>A/C Name : </span>TRy- Kuet club
                            </li>
                            <li>
                                <i class="fa fa-credit-card" aria-hidden="true"></i>
                                <span>A/C No : </span><span class="highlight">0221330016199</span>
                            </li>
                            <li>
                                <i class="fa fa-codepen" aria-hidden="true"></i>
                                <span>Swift Code : </span>SOIVBDDH
                            </li>
                            <li>
                                <i class="fa fa-codepen" aria-hidden="true"></i>
                                <span>Routing No : </span> 195274754
                            </li>
                            <li>
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <span>Branches : </span>Station Branch,<br> Khulna
                            </li>
                        </ul>
                    </div>
                </div>


                <div class="col-md-4 col-sm-6 col-centered wow fadeInLeftSlow" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeftSlow;">
                    <div class="serviceBox green" style=" background: linear-gradient(#08949e,#29aa92); -webkit-clip-path: polygon(100% 0,100% 80%,50% 100%,0 80%,0 0); clip-path: polygon(100% 0,100% 80%,50% 100%,0 80%,0 0); position: absolute; color: #fff; font-family: source sans pro,sans-serif; padding: 0 15px 50px; margin-top: 15px; border: 1px solid transparent; position: relative; z-index: 1; transform: scale(.9); transition: all .3s linear; ">
                        <div class="service-icon" style="background-color: white; padding-right: 5px; background:linear-gradient(-45deg,#28595f 49%,transparent 50%); ">
                            <i class="" aria-hidden="true"><img src="https://bidyanondo.org/la-assets/img/dbbl.png" style="width: 82px; height:auto;" alt=""></i>
                        </div>
                        <h3 class="title">Dutch-Bangla Bank Ltd</h3>
                        <ul class="account-info">
                            <li>
                                <i class="fa fa-money" aria-hidden="true"></i>
                                <span>A/C Name : </span>Try- Kuet club
                            </li>
                            <li>
                                <i class="fa fa-credit-card" aria-hidden="true"></i>
                                <span>A/C No : </span><span class="highlight">1061200012479</span>
                            </li>
                            <li>
                                <i class="fa fa-codepen" aria-hidden="true"></i>
                                <span>Swift Code : </span>
                            </li>
                            <li>
                                <i class="fa fa-codepen" aria-hidden="true"></i>
                                <span>Routing No : 090671186</span>
                            </li>
                            <li>
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <span>Branches : </span>Narayangonj Branch ,<br>Narayangonj
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <div class="pay-mobile-bank-wrapper">
            <div class="row row-centered">
                <h3 class="payment-heading">Payment With Mobile Banking</h3>
                <div class="col-md-12 col-sm-12 col-centered wow fadeInLeftSlow" style=" background: linear-gradient(#64176d,#824b705e); -webkit-clip-path: polygon(100% 0,100% 80%,50% 100%,0 80%,0 0); clip-path: polygon(100% 0,100% 80%,50% 100%,0 80%,0 0); position: absolute; color: #fff; font-family: source sans pro,sans-serif; padding: 0 15px 50px; margin-top: 15px; border: 1px solid transparent; position: relative; z-index: 1; transform: scale(.9); transition: all .3s linear; ">
                    <div class="serviceBox blue">
                        <div class="service-icon" style="background-color: white;">
                            <i class="" aria-hidden="true"><img src="https://bidyanondo.org/la-assets/img/bkash.png" style="width: 92px; height: auto; border-radius: 50px;" alt=""></i>
                        </div>
                        <h3 class="title">BKash</h3>
                        <ul class="account-info">
                            <li>
                                <i class="fa fa-money" aria-hidden="true"></i>
                                <span>A/C Type : </span>Merchant
                            </li>
                            <li>
                                <i class="fa fa-credit-card" aria-hidden="true"></i>
                                <span>A/C No : </span><span class="highlight">01755391613 </span>
                            </li>
                            <li>
                                <i class="fa fa-credit-card" aria-hidden="true"></i>
                                <span>Payment Option PIN : </span><span class="highlight">1 </span>
                            </li>
                        </ul>
                        <hr>
                        <ul class="account-info">
                            <li>
                                <i class="fa fa-money" aria-hidden="true"></i>
                                <span>A/C Type : </span>Personal
                            </li>
                            <li>
                                <span>A/C No : </span>
                                <span class="highlight">01708521955</span>
                                <span class="highlight">01708521956</span>
                            </li>
                        </ul>
                        <br> <br>
                    </div>
                    <strong> * You can also send money from Bkash APP </strong> <br><br>
                </div>
            </div>
            <div class="row row-centered">
                <div class="col-md-3 col-sm-6 col-centered wow fadeInLeftSlow">
                    <div class="serviceBox green" style="background: linear-gradient(#08949e,#29aa92); -webkit-clip-path: polygon(100% 0,100% 80%,50% 100%,0 80%,0 0); clip-path: polygon(100% 0,100% 80%,50% 100%,0 80%,0 0); position: absolute; color: #fff; font-family: source sans pro,sans-serif; padding: 0 15px 50px; margin-top: 15px; border: 1px solid transparent; position: relative; z-index: 1; transform: scale(.9); transition: all .3s linear; ">
                        <div class="service-icon" style="background-color: white; padding-right: 5px; background:linear-gradient(-45deg,#28595f 49%,transparent 50%); ">
                            <i class="" aria-hidden="true"><img src="https://bidyanondo.org/la-assets/img/rocket.png" style="width: 92px; height: 60px; border-radius: 50px;" alt=""></i>
                        </div>
                        <h3 class="title">Rocket (DBBL)</h3>
                        <ul class="account-info">
                            <li>
                                <i class="fa fa-money" aria-hidden="true"></i>
                                <span>A/C Type : </span>Personal
                            </li>
                            <li>
                                <i class="fa fa-credit-card" aria-hidden="true"></i>
                                <span>A/C No : </span>
                                <span class="highlight">017553916134 </span>
                            </li>
                        </ul>
                        <br>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-centered wow fadeInLeftSlow">
                    <div class="serviceBox blue" style="background: linear-gradient(#08949e,#29aa92); -webkit-clip-path: polygon(100% 0,100% 80%,50% 100%,0 80%,0 0); clip-path: polygon(100% 0,100% 80%,50% 100%,0 80%,0 0); position: absolute; color: #fff; font-family: source sans pro,sans-serif; padding: 0 15px 50px; margin-top: 15px; border: 1px solid transparent; position: relative; z-index: 1; transform: scale(.9); transition: all .3s linear; ">
                        <div class="service-icon" style="background-color: white; padding-right: 5px; background:linear-gradient(-45deg,#28595f 49%,transparent 50%); ">
                            <i class="" aria-hidden="true"><img src="https://bidyanondo.org/la-assets/img/nogod_logo.png" style="width: 92px; height:60px; border-radius: 50px;" alt=""></i>
                        </div>
                        <h3 class="title">Nagad</h3>
                        <ul class="account-info">
                            <li>
                                <i class="fa fa-money" aria-hidden="true"></i>
                                <span>A/C Type : </span>Merchant
                            </li>
                            <li>
                                <i class="fa fa-credit-card" aria-hidden="true"></i>
                                <span>A/C No : </span>
                                <span class="highlight">01631554646 </span>
                            </li>
                            <li>
                                <i class="fa fa-credit-card" aria-hidden="true"></i>
                                <span>Counter No : </span><span class="highlight">1 </span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-centered wow fadeInLeftSlow">
                    <div class="serviceBox green" style="background: linear-gradient(#08949e,#29aa92); -webkit-clip-path: polygon(100% 0,100% 80%,50% 100%,0 80%,0 0); clip-path: polygon(100% 0,100% 80%,50% 100%,0 80%,0 0); position: absolute; color: #fff; font-family: source sans pro,sans-serif; padding: 0 15px 50px; margin-top: 15px; border: 1px solid transparent; position: relative; z-index: 1; transform: scale(.9); transition: all .3s linear; ">
                        <div class="service-icon" style="background-color: white; padding-right: 5px; background:linear-gradient(-45deg,#28595f 49%,transparent 50%); ">
                            <i class="" aria-hidden="true"><img src="https://bidyanondo.org/la-assets/img/paypal-logo-1.png" style="width: 92px; height: 60px; border-radius: 50px;" alt=""></i>
                        </div>
                        <h3 class="title">Paypal</h3>
                        <ul class="account-info">
                            <li>
                                <br>
                                <span class="highlight" style="font-size: 14px; text-transform: lowercase;"> 01755391613</span>
                            </li>
                        </ul>
                        <br>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-centered wow fadeInLeftSlow">
                    <div class="serviceBox blue" style="background: linear-gradient(#08949e,#29aa92); -webkit-clip-path: polygon(100% 0,100% 80%,50% 100%,0 80%,0 0); clip-path: polygon(100% 0,100% 80%,50% 100%,0 80%,0 0); position: absolute; color: #fff; font-family: source sans pro,sans-serif; padding: 0 15px 50px; margin-top: 15px; border: 1px solid transparent; position: relative; z-index: 1; transform: scale(.9); transition: all .3s linear; ">
                        <div class="service-icon" style="background-color: white; padding-right: 5px; background:linear-gradient(-45deg,#28595f 49%,transparent 50%); ">
                            <i class="" aria-hidden="true"><img src="https://bidyanondo.org/la-assets/img/tap.jpeg" style="width: 62px; height:60px; border-radius: 50px;" alt=""></i>
                        </div>
                        <h3 class="title">TAP</h3>
                        <ul class="account-info">
                            <li>
                                <i class="fa fa-money" aria-hidden="true"></i>
                                <span>A/C Type : </span>Merchant
                            </li>
                            <li>
                                <i class="fa fa-credit-card" aria-hidden="true"></i>
                                <span>A/C No : </span>
                                <span class="highlight">01766685686 </span>
                            </li>
                            <li style="display: none;">
                                <i class="fa fa-credit-card" aria-hidden="true"></i>
                                <span>Counter No : </span><span class="highlight">1 </span>
                            </li>
                            <br>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-centered wow fadeInLeftSlow">
                    <div class="serviceBox blue" style="background: linear-gradient(#08949e,#29aa92); -webkit-clip-path: polygon(100% 0,100% 80%,50% 100%,0 80%,0 0); clip-path: polygon(100% 0,100% 80%,50% 100%,0 80%,0 0); position: absolute; color: #fff; font-family: source sans pro,sans-serif; padding: 0 15px 50px; margin-top: 15px; border: 1px solid transparent; position: relative; z-index: 1; transform: scale(.9); transition: all .3s linear; ">
                        <div class="service-icon" style="background-color: white; padding-right: 5px; background:linear-gradient(-45deg,#28595f 49%,transparent 50%); ">
                            <i class="" aria-hidden="true"><img src="https://bidyanondo.org/la-assets/img/upay.png" style="width: 62px; height:60px; border-radius: 50px;" alt=""></i>
                        </div>
                        <h3 class="title">Upay</h3>
                        <ul class="account-info">
                            <li>
                                <i class="fa fa-money" aria-hidden="true"></i>
                                <span>A/C Type : </span>Merchant
                            </li>
                            <li>
                                <i class="fa fa-credit-card" aria-hidden="true"></i>
                                <span>A/C No : </span>
                                <span class="highlight">01878116232 </span>
                            </li>
                            <li style="display: none;">
                                <i class="fa fa-credit-card" aria-hidden="true"></i>
                                <span>Counter No : </span><span class="highlight">1 </span>
                            </li>
                            <br>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


}

